<style>
    footer {
        font-family: Arial, sans-serif;
    }
    footer a:hover {
        text-decoration: underline;
        color: #f39c12; /* Highlight color on hover */
    }
    .bg-secondary {
        background-color: black; /* Darker background for the section */
    }
    .text-reset {
        transition: color 0.3s ease;
    }
</style>
<footer class="text-center text-lg-start bg-dark text-white">
    <section class="container d-flex justify-content-center justify-content-lg-between p-4">
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>
        <div>
            <a href="#" class="me-4 text-reset"><i class="fa fa-facebook" style="color: #3b5998;"></i></a>
            <a href="#" class="me-4 text-reset"><i class="fa fa-twitter" style="color: #1da1f2;"></i></a>
            <a href="#" class="me-4 text-reset"><i class="fa fa-google" style="color: #db4437;"></i></a>
            <a href="#" class="me-4 text-reset"><i class="fa fa-instagram" style="color: #c32aa3;"></i></a>
            <a href="#" class="me-4 text-reset"><i class="fa fa-linkedin" style="color: #0077b5;"></i></a>
            <a href="#" class="me-4 text-reset"><i class="fa fa-github" style="color: #5e71ea;"></i></a>
        </div>
    </section>

    <section class="bg-dark p-4">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4"><i class="fa fa-cart-plus"></i> K-Shop</h6>
                    <p>
                        K-Shop.com is your one-stop destination for your family's fashion needs.
                        Let us give your wardrobe a makeover with the latest collections from top brands.
                    </p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Products</h6>
                    <p><a href="#!" class="text-reset">Product 1</a></p>
                    <p><a href="#!" class="text-reset">Product 2</a></p>
                    <p><a href="#!" class="text-reset">Product 3</a></p>
                    <p><a href="#!" class="text-reset">Product 4</a></p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Useful Links</h6>
                    <p><a href="#!" class="text-reset">Menu 1</a></p>
                    <p><a href="#!" class="text-reset">Menu 2</a></p>
                    <p><a href="#!" class="text-reset">Menu 3</a></p>
                    <p><a href="#!" class="text-reset">Menu 4</a></p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="fa fa-home"></i> K-Shop</p>
                    <p><i class="fa fa-envelope"></i> kannanidea8@gmail.com</p>
                    <p><i class="fa fa-phone"></i> +91 8838139674</p>
                </div>
            </div>
        </div>
    </section>
    
    <div class="text-center p-4 text-light" style="background-color: #100e19;">
        &copy; 2024 Copyright <a href="#" class="text-reset">K-Shop.in</a>
    </div>
</footer>

